@model RipVanBluRay.Models.SharedState;

@for (var i = 0; i < Model.DiscDrives.Count(); i++)
{
    var drive = Model.DiscDrives[i];

    <div id="@drive.Id-log-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="log-modal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row border-start border-top border-end border-bottom mb-3">
        <div class="col-lg-2">
            <img id="@drive.Id-cdrom-image" class="img-fluid@(drive.DiscPresent || drive.InUse ? " rotate-middle" : "")" src="~/images/cdrom.png" alt="CD-ROM">
        </div>
        <div class="col-lg-8 align-self-center">
            <div class="row align-items-start">
                <div class="col text-center"><h4><u>Status</u></h4></div>
                <div class="col text-center"><h4><u>Id</u></h4></div>
                <div class="col text-center"><h4><u>Path</u></h4></div>
                <div class="col text-center"><h4><u>Disc Present</u></h4></div>

            </div>
            <div class="row align-items-start">
                <div id="@drive.Id-status" class="col text-center">@(drive.DiscPresent ? "Ripping" : "Waiting")</div>
                <div class="col text-center">@drive.Id</div>
                <div class="col text-center">@drive.Path</div>
                <div id="@drive.Id-disc-present" class="col text-center">@(drive.DiscPresent ? "Yes" : "No")</div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="row align-items-start">
                <div class="col text-center"><h4><u>Media Type</u></h4></div>
                <div class="col text-center"><h4><u>Label</u></h4></div>
                <div class="col text-center"><h4><u>Disc Size</u></h4></div>
                <div class="col text-center"><h5><u>Current Ripped Size</u></h5></div>
            </div>
            <div class="row align-items-start">
                <div id="@drive.Id-disc-media" class="col text-center">@drive.DiscMedia</div>
                <div id="@drive.Id-label" class="col text-center">@(string.IsNullOrEmpty(drive.Label) || string.IsNullOrWhiteSpace(drive.Label) ? "N/A" : drive.Label)</div>
                <div id="@drive.Id-disc-size" class="col text-center">@(drive.SizeGigaBytes <= 1 ? $"{drive.SizeMegaBytes} MB" : $"{drive.SizeGigaBytes} GB")</div>
                <div id="@drive.Id-rip-size" class="col text-center">@(drive.CurrentRipSizeGigaBytes <= 1 ? $"{drive.CurrentRipSizeMegaBytes} MB" : $"{drive.CurrentRipSizeGigaBytes} GB")</div>
            </div>
        </div>
        <div class="col-lg-2 text-center align-self-center">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@drive.Id-log-modal" onclick="LOG_FILE('@drive.Id')">Log File</button>
        </div>
    </div>
}